<div class="chat__message">
  <div class="chat__message__avatar">
    <%= gravatar_for message.user, size: 50 %>
  </div>
  <div class="chat__message__body">
    <span class="chat__message__body__username"> <%= message.user.username %> </span>
    <span class="chat__message__body__text"> <%= message.body %> </span>
  </div>
</div>
