<div class="chat__message">
  <div class="chat__message__avatar">
    <%= image_tag("https://picsum.photos/50", :alt => "rss feed") %>
  </div>
  <div class="chat__message__body">
    <span class="chat__message__body__username"> <%= message.user.username %> </span>
    <span class="chat__message__body__text"> <%= message.body %> </span>
  </div>
</div>
