<div class="row">
    <div class="chat">
        <div class="chat__contacts col-4">
            <div class="chat__contact">
                <div class="chat__contact__avatar">
                    <%= image_tag("https://picsum.photos/50", :alt => "rss feed") %>
                </div>
                <div class="chat__contact__name">
                    <span>User Name</span>
                </div>
            </div>
        </div>
        <div class="chat__messages col-8"></div>
    </div>
</div>