.chat {
  border: 1px solid rgb(192, 192, 192);
  height: 100%;

  &__contacts {
    height: 100%;
    border-right: 1px solid rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  &__messages {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  &__column-right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__contact {
    display: flex;
    align-items: center;
    background-color: $light-grey;
    padding: 10px;
    margin-bottom: 5px;
    &__avatar {
      img {
        border-radius: 50%;
      }
    }
    &__name {
      padding: 0 20px;
    }
  }

  &__message {
    display: flex;
    padding: 10px 20px;
    &__body {
      display: flex;
      flex-direction: column;
      padding: 5px;
      &__username {
        font-weight: 500;
        margin-left: 10px;
      }
      &__text {
        margin: 10px 0 0 10px;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    &__input {
      width: 100%;
      border: 0;
      border-top: 1px solid #c2c2c2;
      padding: 20px;
    }

    &__button {
      padding: 20px;
      background-color: sandybrown;
    }
  }
}
